.layout {
  height: 100%;
  display: flex;
  flex-direction: column;

  .header {
    @media screen and (max-width: 500px) {
      padding: 0 10px;
    }

    &__inner {
      height: 100%;

      .headerTitle {
        color: white;
        margin: 0;
        white-space: nowrap;
      }

      :global(.ant-space-item:first-child) {
        line-height: normal;
      }

      .menuDropdown {
        :global(.ant-dropdown-menu-item) {
          padding: 12px;
          text-align: start;
        }

        :global(.ant-dropdown-menu-item-active) {
          background-color: #fff1f0;
        }
      }
    }
  }

  .content {
    flex: 1;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 500px) {
      padding: 10px;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    flex-wrap: wrap;
    gap: 16px;

    @media screen and (max-width: 500px) {
      padding: 20px 10px;
    }

    .quoteSkeleton {
      width: 90%;

      :global(.ant-skeleton-content .ant-skeleton-paragraph) {
        margin: 0;

        li {
          background-image: linear-gradient(
            90deg,
            rgb(140, 140, 140, 0.5),
            rgba(89, 89, 89, 0.5),
            rgb(140, 140, 140, 0.5)
          );
          width: 80%;
        }
      }
    }

    &__quote {
      color: white;
      margin: 0;

      .quoteAutor {
        color: white;
        font-style: normal;
      }
    }

    &__version {
      display: block;
      margin-left: auto;
      color: white;
    }
  }
}
