.backButton {
  margin: 0 auto 16px 0;

  @media screen and (max-width: 500px) {
    margin-bottom: 10px;
  }
}

.dailyBonusFloatButton.dailyBonusFloatButton {
  width: auto;

  :global(.ant-float-btn-body) {
    padding: 8px;

    :global(.ant-float-btn-content) {
      width: 100%;
      padding: 0;

      :global(.ant-float-btn-icon.ant-float-btn-icon) {
        width: 100%;
        line-height: 0;
      }
    }
  }
}
