.statisticCard {
  height: 100%;

  .cardBody {
    height: 100%;

    .statistic {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &.winPercentStatistic {
        flex-direction: row;
        gap: 8;
        align-items: center;
      }
    }
  }
}
