.actionFloatButton {
  &:global(.ant-float-btn.ant-float-btn-circle) {
    :global(.ant-float-btn-body.ant-float-btn-body) {
      width: 100%;
      height: 100%;

      :global(
          .ant-float-btn-icon.ant-float-btn-icon.ant-float-btn-icon.ant-float-btn-icon
        ) {
        width: 30px;
      }
    }
  }

  .buttonIcon {
    font-size: 30px;
  }
}
